.contact {
    form {
        .container {
            padding: 100px 24px 0;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;
            padding: 24px 16px;
            background-color: $color-white;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            @include md {
                grid-template-columns: repeat(12,1fr);
                padding: 24px;
            }
        }
        .input-name {
            grid-column: 1/13;
            grid-row: 1/2;
            @include md {
                grid-column: 1/7;
                grid-row: 1/2;
            }
        }
        .input-surname {
            grid-column: 1/13;
            grid-row: 2/3;
            @include md {
                grid-column: 7/13;
                grid-row: 1/2;
            }
        }
        .input-email {
            grid-column: 1/13;
            grid-row: 3/4;
            @include md {
                grid-column: 1/7;
                grid-row: 2/3;
            }
        }
    
        .select {
            grid-column: 1/13;
            grid-row: 4/5;
            @include md {
                grid-column: 7/13;
                grid-row: 2/3;
            }
        }
        .textarea {
            grid-column: 1/13;
            grid-row: 5/6;
            @include md {
                grid-row: 2/3;
                grid-row: 3/4;
            }
        }
        .submit {
            grid-column: 1/13;
            grid-row: 6/7;
            text-align: right;
            @include md {
                grid-row: 4/5;
               
            }
        }
        input[type=text], textarea, select {
            width: 100%;
            border: 1px solid $border-color; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            padding: 12px; /* Some padding */ 
            margin-top: 8px;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
           
        }
        label {
            color: $color-dark;
        }
        textarea {
            resize: none;
            min-height: 200px;
        }
    }
    .contact-info {
        
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            @include md {
                grid-template-columns: repeat(3,1fr);
            }
        }
        .box {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 24px;
            a {
                color: $color-dark;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .circle {
            width: 70px;
            height: 70px;
            background-color: rgba($color-primary, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 1.5rem;
        }
        svg {
            height: 35px;
            width: auto;
        }
    }
}