.home {
    .hero-section {
        position: relative;
        min-height: 100vh;
        .container {
            @include container(100px 12px, 1400px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
        }
        .hero-text {
            color: $color-white;
            max-width: 600px;
          
        }
        h1 {
            font-weight: 700;
            @include md {
                font-size: 4rem;
            }
        } 
        .scroll-container {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
        }
    }
    .services-section {
        .container {
            @include container(100px 12px, 1400px);
            text-align: center;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
            }
            
            gap: 24px;
            margin-bottom: 3.75rem;
        }
        .item {
            padding: 24px;
        }
        img {
            width: 65px;
            height: 65px;
            margin-bottom: 1rem;
        }
    }
    .section-counter {
        .container {
            @include container(100px 12px, 1400px);
            color: $color-white;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            @include md {
                grid-template-columns: 1fr 1fr;
            }
            @include lg {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            gap: 24px;
        }
        .item {
            padding: 24px;
            h1 {
                @include md {
                    font-size: 4rem;
                }
            }
            h4 {
                margin-bottom: 0;
            }
        }
    }
}