.services {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        
        .text {
            grid-column: 1/13;
            @include xl {
                grid-column: 1/6;    
        }
        }
        img {
            height: 400px;
            
            @include xl {
                height: 500px;
            }
            object-fit: cover;
            grid-column: 1/13;
            @include xl {
                grid-column: 7/13;
            }
            border-radius: $border-radius;
        }
        @include xl {
            &:nth-of-type(even) {
                .text {
                    grid-column: 8 / 13;
                    grid-row: 1/2
                }
                img {
                    grid-column: 1 / 7;
                    grid-row: 1/2
                }
            }
        }
    }
}