.btn {
    
    padding: 12px 24px;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    transition: $transition;
    min-width: 150px;
    

    &--filled {
      border: 1px solid $color-primary;
      background-color: $color-primary;
      color: $color-white;
      &:hover {
        background-color: darken($color-primary, 6);
        border: 1px solid darken($color-primary, 6);
      }
    }
    
    &--outlined-primary {
      border: 1px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    &--outlined-white {
      border: 1px solid $color-white;
      background-color: transparent;
      color: $color-white;
      &:hover {
        border: 1px solid $color-primary;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
  
  