.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    .container {
        @include container(24px 12px, 1200px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        display: none;
        @include md {
            display: flex;
        }
    }
    .nav-links-item {
        margin-left: 24px;
    }
    
}