.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    .container {
        padding: 32px 24px;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @include md {
            max-width: 768px;
        }
        @include lg {
            max-width: 992px;
        }
        @include xl {
            max-width: 1200px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        display: none;
        @include md {
            display: flex;
        }
    }
    .nav-links-item {
        margin-left: 24px;
    }
    
}