
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.9rem;
    @include sm {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: $color-white;
}

img {
    width: 100%;
}

ul {
    margin-bottom: 0;
}

li {
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    h4 {
        color: $color-white;
        font-weight: 700;
        margin-left: 16px;
        margin-bottom: 0;
    }
    span {
        color: $color-primary;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 3.75rem;
}

.container {
    padding: 100px 24px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    @include md {
        max-width: 768px;
    }
    @include lg {
        max-width: 992px;
    }
    @include xl {
        max-width: 1200px;
    }
}