// colors
$color-primary: #31A0EB;
$color-dark: #4D4D4D;
$color-white: #fff;
$color-gray: #FCFCFC;
$overlay-color: rgba(0, 56, 95, 0.9);

// border radius
$border-radius: 30px;

// transition
$transition: all 0.4s ease;