// colors
$color-primary: #1693E9;
$color-primary-dark: #073A5F;
$color-dark: #2e2e2e;
$color-white: #fff;
$color-light-gray: #FCFCFC;
$color-gray: #AFAFAF;
$border-color: #EAEAEA;
$overlay-color: rgba(0, 56, 95, 0.9);

// box shadow
$box-shadow: 1px 1px 20px rgba(171, 204, 226, 0.25);

// border radius
$border-radius: 15px;

// transitions
$transition: all 0.3s ease;
$hamburger-transition: all 0.7s ease;